---
import Layout from "@/layouts/Layout.astro"

import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
import Services from "@/components/Services.astro"
import Technologies from "@/components/Technologies.astro"
---

<Layout
  title="Pablo Rosales - Software Engineer"
  description="Ingeniero de Software con +8 años de experiencia"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36" id="sobre-mi">
      <Hero>
        </slot>
      </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="servicios">
      <TitleSection>
        <Briefcase class="size-8" />
        Servicios
      </TitleSection>
      <Services />
    </SectionContainer>

    <SectionContainer id="tecnologias" class="py-24">
      <TitleSection>
        <CodeIcon class="size-8" />
        Tecnologías
      </TitleSection>
      <Technologies />
    </SectionContainer>
  </div>
  </main>
</Layout>
